@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:orange;font-size:45px;">
        <p>WelCome to Bike Rider</p>
    </div>
    <div>
        <pre>
            Hi Sir/Madam
                We need to Verify your Email Address for complete your Registration!
                    Click <a href="@ViewBag.ConfirmationLink">Here</a>
        </pre>
    </div>
</body>
</html>
